.Overlay {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 350;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 343px;
  height: auto;
  max-height: 100%;
  padding: 0;
  width: 100%;
  padding: 0px;
  color: black;
  font-family: Roboto, sans-serif;

  position: relative;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  outline: none;

  box-sizing: border-box;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  height: 20px;
  width: 20px;
  // z-index: 2;

  & > svg {
    height: 16px;
    width: 17px;
    fill: black;
  }
}

.header {
  justify-content: left;
  padding: 0 24px;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20px;
}

.form {
  padding: 40px;
}

.formInputLabel {
  color: #919496;
  font-weight: 400;
  margin-bottom: 10px;
}

.formInput {
  // font-family: Baskerville;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: inherit;
  text-transform: none;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  color: black;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #21c432;
  outline: 0;
  margin: 0;
  padding: 0px 20px;
  resize: vertical;
  background: transparent !important;
  background-image: none;
  box-shadow: none;
  -webkit-border-radius: 0px;

  ::placeholder {
    color: #919496;
    font-family: Baskerville;
    padding: 0px;
  }
}

.submitButton {
  padding: 10px;
  width: 45%;
  margin-right: 5%;
  background: #21c432;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.inputSelector {
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: inherit;
  text-transform: none;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  color: black;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #21c432 !important;
  outline: 0;
  margin: 0;
  padding: 0px 20px;
  resize: vertical;
  background: transparent !important;
  background-image: none;
  border: none;
  box-shadow: none;
  -webkit-border-radius: 0px;

  ::placeholder {
    color: #919496;
    font-family: Baskerville;
    padding: 0px;
  }
}
